# Created by .ignore support plugin (hsz.mobi)
将删除 .idea/$CACHE_FILE$
将删除 .idea/.gitignore
将删除 .idea/dictionaries
将删除 .idea/inspectionProfiles/
将删除 .idea/misc.xml
将删除 .idea/modules.xml
将删除 .idea/toy_browser.iml
.idea
